body {
    background-image: url("https://image.freepik.com/free-vector/christmas-background-with-bokeh-snowflakes_1393-207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    padding: 0px 25px; 
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
}

.video {
  max-width: 100%;
  height: auto;
  padding: 50px;
  box-shadow: 5px 10px;
}

h1 {
    font-family: Garamond;
    font-size: 48px;
    padding-top: 10px;
}

p {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.palign {
    justify-content: center;
}

